<div class="container" style="margin-bottom: 40px;">
  <div class="row d-flex justify-content-center">
    <div class="col-10 mt-5">
      <h2>Chats</h2>
      <hr>

      <% @chating_list.each do |chat| %>
        <%= link_to chatroom_path(chat.chatroom_id), style:"text-decoration:none; color: black;" do %>
          <% partner = ChatRoomUser.find_by(chatroom_id: chat.chatroom_id) %>
          <% partner_user = User.find(partner.user_id) %>
          <div class="d-flex justify-content-between">
            <div>
              <% if partner_user.avatar.attached? %>
                <%= cl_image_tag partner_user.avatar.key, height: 50, width: 50, crop: :fill, class:"circle" %>
              <% else %>
                <img src="https://www.freeiconspng.com/thumbs/account-icon/account-icon-33.png" class="circle" style="height:40px; width:40px" alt="">
              <% end %>
              <%= partner_user.first_name %>
            </div>
            <div>
              <% if Chatroom.find(chat.chatroom_id).messages.present? %>
                <%= Chatroom.find(chat.chatroom_id).messages.last.content %>
                <%= Chatroom.find(chat.chatroom_id).messages.last.created_at.strftime("%a %b %e at %l:%M %p") %>
              <% end %>
            </div>
          </div>
          <hr>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
