<div style="">
 <div class="d-flex justify-content-center" style="margin-top: 40px;">
  <div>
    <%# div white 1 %>
    <div class="" style="box-shadow: 0 0 15px rgba(0,0,0,0.2); height:400px; width: 400px; background-color: white;">

      <div class="d-flex justify-content-center">
        <% if current_user.avatar.attached? %>
          <%= cl_image_tag current_user.avatar.key, height: 150, width: 150, crop: :fill, class:"circle" %>
        <% else %>
          <img src="https://www.freeiconspng.com/thumbs/account-icon/account-icon-33.png" class="circle" style="height:150px; width:150px" alt="">
        <% end %>

        <div style="margin-top:30px">
          <h4><%= "Hello #{current_user.first_name}" %></h4>
          <%= link_to "Edit account", edit_user_registration_path(current_user), class:"btn btn-light"  %>
          <% if current_user.about.present? %>
            <%= link_to "Profile Setting", edit_user_about_path(current_user, current_user.about.id), class:"mt-2 btn btn-light" %>
          <% else %>
            <%= link_to "Profile Setting", new_user_about_path(current_user), class:"mt-2 btn btn-light" %>
          <% end %>
        </div>
      </div>

      <% if current_user.about.present? %>
        <% if current_user.about.number_of_countries.present?%>
          <div style="margin-left:70px" class="d-flex mt-3">
            <p class="me-3">Visitied Countries</p>
            <%= current_user.about.number_of_countries %>
          </div>
        <% end %>
        <% if current_user.about.number_of_met_people.present? %>
          <div style="margin-left:70px" class="d-flex mt-3">
            <p class="me-3">You met from this app</p>
            <%= current_user.about.number_of_met_people %>
          </div>
        <% end %>
        <% if current_user.about.number_of_friends.present? %>
          <div style="margin-left:70px" class="d-flex mt-3">
            <p class="me-3">Friends from differnt countries</h3>
            <%= current_user.about.number_of_friends %>
          </div>
        <% end %>
      <% end %>
    </div>


     <%# div white 2 %>
    <div class=" mt-4" style="box-shadow: 0 0 15px rgba(0,0,0,0.2); height: 400px; width: 400px; background-color: white;">
      <h4>Todo list</h4>
    </div>
  </div>

  <div class="">
    <div class="d-flex">
      <%# div white 3 %>
      <div class="ms-4 me-2 d-flex justify-content-center" style="box-shadow: 0 0 15px rgba(0,0,0,0.2); height: 100px; width: 330px; background-color: #005051;">
        <div>
          <h3 style="color:white">Post my Triptip</h3>
          <%= link_to "Post", new_post_path, class:"btn btn-light", style:"width: 80%; margin: 0 auto" %>
        </div>
      </div>

      <%# div white 4 %>
      <div class="" style="box-shadow: 0 0 15px rgba(0,0,0,0.2); height: 100px; width: 360px; background-color: white; left:">
        <%= render "shared/current_address_input" %>
      </div>
    </div>

    <%# div green 5 %>
    <div class="mt-4 ms-4 me-4 " style="box-shadow: 0 0 15px rgba(0,0,0,0.2); height: 700px; width: 700px; background-color: #005051;">
      <h3 style="color:white" >Active Traveler</h3>

    </div>
  </div>
 </div>



<%= render "shared/card_home" %>

</div>
