<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to "/", class: "navbar-brand" do %>
      <h2 class="d-flex" style="color:#005051; font-weight:bold; font-color">
        <p>Tr</p>
        <p style="color:rgba(215,223,35,1);">i</p>
        <p>pt</p>
        <p style="color:rgba(215,223,35,1);">i</p>
        <p>p</p>
        <p>🎄</p>
      </h2>
    <% end %>

    <%= form_with url: posts_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
                          params[:query],
                          class: "form-control",
                          placeholder: "Search your information",
                          style:"width: 400px"%>

      <%= submit_tag "Search", class: "btn btn-light" %>
    <% end %>


    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "Chats", chatrooms_path, class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Edit", edit_user_registration_path, class: "dropdown-item" %>
              <%= link_to "index", posts_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
