<h1>New page</h1>

<%= simple_form_for (@post) do |f| %>
  <%= f.input :title %>
  <%= f.input :address,
              input_html: {data: {address_autocomplete_target: "address"},class:"d-none"},
              wrapper_html: {data: {controller: "address-autocomplete",
              address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}}%>
  <%= f.input :category %>
  <%= f.input :content %>
  <%= f.input :photo, as: :file %>
  <%= f.button :submit %>
<% end %>
