<div class="d-flex">
 <div class="card" style="width: 500px;">
    <img style="width:450px; height: 280px;" src="https://elcomercio.pe/resizer/VBT_5K1XgES0ec_-SjauADEHd_I=/1200x800/smart/filters:format(jpeg):quality(75)/cloudfront-us-east-1.images.arcpublishing.com/elcomercio/YZE2DDHNKNDXJNSFLFTAKPUUGU.jpg" alt="">
      <div class="d-flex">
       <%= cl_image_tag @post.photo.key, height: 300, width: 400, crop: :fill %>
        <img class="circle" src="https://www.freeiconspng.com/thumbs/account-icon/account-icon-33.png" style="height:30px; width:30px" alt="">
        <%= User.find(@post.user_id).first_name %>
      </div>
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text"><%= @post.content %></p>
      <i class="fa-regular fa-comment"></i>
      <i class="fa-solid fa-heart"></i>
      <%= link_to "Edit post",  edit_post_path(@post), class:"btn btn-light"%>
      <%= button_to "Delete post", post_path(@post), data: { confirm: "Are you sure?" }, method: :delete, class:"btn btn-light"  %>
    </div>
  </div>
  <div style="width: 600px;  height 700px; background-color: grey" >
    <h1>map</h1>
  </div>
</div>

<div style="height: 600px; width: 600px; background-color:white;">
  <h3>comments</h3>
</div>
